* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.slides {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 100vh;
}
.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    background-position: 50% 50%;
    background-size: cover;
}
.slide.active {
    opacity: 1;
    z-index: 2;
}
.slide:nth-of-type(1) {
    background-image: url(../img/Dubaj.jpg);
}
.slide:nth-of-type(2) {
    background-image: url(../img/Golden\ Gate.jpg);
}
.slide:nth-of-type(3) {
    background-image: url(../img/London.jpg);
}
.slide:nth-of-type(4) {
    background-image: url(../img/Praga.jpg);
}
.slide:nth-of-type(5) {
    background-image: url(../img/Sydney.jpg);
}

.indicators {
    position: absolute;
    z-index: 3;
    left: calc(50% - 83px);
    bottom: 0;
    margin-bottom: 10px;
}

.indicator {
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    border: 3px solid rgba(255, 255, 255, 0.4);
    background: none;
    height: 20px;
    width: 20px;
    margin: 5px
}

.indicator.active {
    border-color: #ffffff;
    box-shadow: 0 0 10px #ffffff;
}

.controls {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 0.5s;

}

.control {
    position: absolute;
    cursor: pointer;
    height: 100%;
    border: none;
    outline: none;
    background: none;
}

.control__pause-play-btn {
    left: calc(50% - 250px);
    padding: 0;
    opacity: 0;
    height: 500px;
    transition: 0.5s;
    top: calc(50% - 250px);
}

.control__prev-btn {
    left: 0;
    width: 10%;
    transition: all 0.5s;
}

.control__next-btn {
    right: 0;
    width: 10%;
}

.control__prev-btn:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.control__next-btn:hover {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.control__prev-btn:hover .far,
.control__next-btn:hover .far {
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
}

.fa-play-circle,
.fa-pause-circle {
    font-size: 500px;
    color: rgba(255, 255, 255, 0.4);
}

.control__pause-play-btn:hover {
    opacity: 1;
}

.fa-arrow-alt-circle-left,
.fa-arrow-alt-circle-right {
    color: rgba(255, 255, 255, 0.4);
    font-size: 50px;
}

